@charset "utf-8";

body {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 1.5em;
}

* {
  padding: 0;
}

a {
  color: #2d78d6;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em;
  font-family: georgia, arial, helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

h1 {
  margin: 0 0 0.5em;
  font-size: 32px;
}